name: CI

on:
    push:
        branches:
            - main
            - "**"
    pull_request:
        branches:
            - main
            - "**"

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - name: Use Node
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Install deps
              run: npm ci

            - name: Run tests
              run: npm test
